body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d04e46;
  color: white;
  font-family: "Helvetica";
  font-weight: lighter;
}

header {
  text-decoration: underline;
}

.text-container {
  width: 30%;
}

.black {
  color: black;
}

.underline {
  text-decoration: underline;
}

.pop {
  font-weight: bold;
}
